# History files
.Rhistory
.Rapp.history
.vscode

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
*.cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron



*.rar
*.lnk

drafts/
html/
old/
calc/
raster/
shp/

*.geojson
*.csv
*.xlsx
*.docx
*.xml
*.asc
*.bil
*.hdr
*.Rproj
*.RDataTmp
*.shp
*.shx
*.dbf
*.cpg
*.qix
*.stx
*.prj
*.qgz
*.7z
*.zip
*.exe
*.gob
*.pkl
*.sld
*.mat

# model files
Raven_errors.txt
*.raven
*.rvt
*.rvc
*.rvi
*.rvp
*.rvh
*.hds
*.flx
*.ba6
*.rch
*.dis
*.drn
*.lst
*.wel
*.oc
*.drn
*.riv
*.nwt
*.uzf
*.upw
*.nam
*.bat
*.gdef